/* 기본적인 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

a {
  text-decoration: none;
  color: #333;
}

/* Wrap */
.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 20px 90px 20px;
}

/* Header 스타일링 */
header {
  position: relative;
  color: white;
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.h_inner_top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-top: 50px;
}

.h_inner_top h1 {
  font-size: 24px;
}

.gnb {
  list-style: none;
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: center;
  background-color: #5293ff;
  padding: 30px;
  border-radius: 15px 15px 0 0;
}

.gnb .tab {
  cursor: pointer;
  position: relative;
}

.gnb .tab a {
  font-size: 17px;
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #fcfdfd;
  display: inline-block;
  padding: 0px 15px;
  border-radius: 43px;
  font-weight: bold;
  position: relative;
  transition: background-color 0.3s ease;
  text-align: center;
}

.gnb .tab.active a,
.gnb .tab a:hover {
  background: #2f7af5;
}

/* 말풍선 효과 */
.gnb .tab.active a::after {
  content: '';
  display: block;
  position: absolute;
  border-top: 10px solid #5293ff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0 solid transparent;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

/* active 상태일 때 말풍선이 보이도록 */
.gnb .tab.active a::after {
  opacity: 1;
  visibility: visible;
}

/* 검색바 고정 전환 효과 */
.h_inner-bottom {
  position: relative; /* 기본 상태 */
  /* transition: all 0.3s ease-in-out; */ /* 부드러운 전환 효과 */
  padding: 30px 0;
}
.h_inner-bottom > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h_inner-bottom.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7); /* 고정된 상태의 배경색 */
  /* 그림자 효과 */
  transition: all 0.3s ease-in-out; /* 전환 효과 */
}

#searchInput {
  width: 400px;
  border: 2px solid #5695ff;
  line-height: 45px;
  border-radius: 53px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #4f8ef7;
  padding-left: 25px;
  margin-right: 10px;
}

#searchInput::placeholder {
  color: #4f8ef7;
}

#searchBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4f8ef7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

#searchBtn:hover {
  background-color: #2a76f5;
}

/* Main 영역 */
main {
  margin-top: 30px;
  padding: 0 20px;
}

/* 콘텐츠 영역 */
.search-container {
  display: flex;
  flex-direction: column;
}

#content {
  width: 1100px;
  margin: 0px auto;
  padding: 0px 25px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 6px 8px rgba(181, 181, 181, 0.1);
  border-top: none;
}

.cont {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.cont h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.cont .list {
  list-style: none;
  padding: 0;
  font-size: 16px;
  color: #555;
}

/* ul, li 기본 스타일링 */
.search-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-container ul li {
  position: relative;
  padding: 12px 20px 12px 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
}

.search-container ul li::before {
  content: '\2022';
  position: absolute;
  top: 9px;
  left: 0;
  color: #4f8ef7;
  font-size: 20px;
  margin: 0px 15px;
  align-self: flex-start;
}

.search-container ul li p {
  margin: 0;
  line-height: 1.6;
}

.search-container ul li p:first-child {
  margin-top: 0;
}

.search-container ul li:hover {
  background-color: #e0efff;
  transform: scale(1.02);
}
.search-container ul li.active {
  background-color: #e0efff;
  transform: scale(1.02);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.cont .list li strong {
  color: #4f8ef7;
}

.highlight {
  line-height: 100%;
  padding: 0 5px;
  border-radius: 4px;
  background-color: #4f8ef7;
  color: #fff;
  font-weight: bold;
  font-family: Pretendard, 'Malgun Gothic', sans-serif;
}

.tab-content {
  display: block;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
}

/* 탭 내용 구분을 위한 간격 */
.tab-content + .tab-content {
  margin-top: 20px;
}

.tab-content h2 {
  padding-top: 9px;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -0.06em;
}

.tab-content .list {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  padding-left: 20px;
}

.tab-content .list li {
}

.tab-content .list li p {
  margin-top: 5px;
}

/* Footer */
footer {
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  height: 56px;
  box-sizing: border-box;
  position: relative;
}

/* 모달 스타일 */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.custom-modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-modal-content p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.custom-modal-content button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4f8ef7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-modal-content button:hover {
  background-color: #3b73d1;
}

footer {
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  height: 56px;
}

/* 반응형 스타일 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .h_inner_top h1 {
    font-size: 20px;
  }

  #searchInput {
    width: 100%;
    font-size: 14px;
  }

  #searchBtn {
    font-size: 14px;
    padding: 8px 15px;
  }

  .gnb {
    flex-wrap: wrap;
    gap: 10px;
  }

  .gnb .tab a {
    font-size: 14px;
    padding: 5px 10px;
  }

  .cont h2 {
    font-size: 18px;
  }

  .search-container ul li {
    font-size: 14px;
    padding: 10px 15px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .h_inner_top h1 {
    font-size: 18px;
    text-align: center;
  }

  .gnb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    white-space: nowrap; /* 줄 바꿈 방지 */
    -webkit-overflow-scrolling: touch; /* 부드러운 스크롤 (iOS) */
  }
  .gnb::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
  }

  .gnb .tab {
    flex: 0 0 auto; /* 요소의 너비를 내용물 크기에 맞춤 */
    padding: 10px 20px;
    text-align: center;
    white-space: nowrap;
  }

  #searchInput {
    font-size: 12px;
    line-height: 38px;
  }

  #searchBtn {
    font-size: 12px;
    padding: 6px 10px;
  }

  .cont h2 {
    font-size: 16px;
  }

  .search-container ul li {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .h_inner_top h1 {
    font-size: 30px;
  }

  .gnb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    white-space: nowrap; /* 줄 바꿈 방지 */
    -webkit-overflow-scrolling: touch; /* 부드러운 스크롤 (iOS) */
  }
  .gnb::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
  }

  .gnb .tab {
    flex: 0 0 auto; /* 요소의 너비를 내용물 크기에 맞춤 */
    padding: 0;
    text-align: center;
    white-space: nowrap;
    width: unset;
  }

  .h_inner-bottom div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .h_inner-bottom.fixed {
    padding: 30px 20px;
  }
  #searchInput {
    font-size: 14px;
    line-height: 35px;
    width: 100%;
    height: 50px;
    margin: 0;
  }

  #searchBtn {
    font-size: 18px;
    padding: 12px 8px;
    width: 100%;
  }

  main,
  #content,
  .tab-content,
  .cont {
    padding: 0;
  }
  #content {
    width: 100%;
  }
  .cont h2 {
    font-size: 20px;
  }
  .tab-content .list {
    padding: 0;
    margin-bottom: 40px;
  }

  .tab-content .list:last-child {
    margin-bottom: 0;
  }

  .search-container ul li {
    font-size: 16px;
  }
}
